    <div class="content-wrapper">
        <div class="container ">
            <div class="row  justify-content-center">
                <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
    
                    <div class="mt-5 elevation-2">
                        <div class="card  ">
                            <h2 style="text-align: center;" class="mt-5">Add Gardian</h2>
    
    
                            <div class="m-4">
                                <form #form ="ngForm" (ngSubmit)="saveMem()">
    
                                    <div class=" form-group text-left">
                                        <label for="name" class="form-label">Gardian Name :</label>
                                        <input type="text" [(ngModel)]="Member.name" id="name" class="form-control" name="name"
                                            placeholder="enter your name" >
    
    
                                    </div>
 
    
                                    <div class=" form-group text-left">
                                        <label for="relation" class="form-label">RelationShip :</label>
                                        <input type="text" [(ngModel)]="Member.relationship" id="relationship" class="form-control" name="relationship"
                                            placeholder="relationship" >
                                    </div>
 
                                    <div class=" form-group text-left">
                                        <label for="phoneNo." class="form-label">Phone No. :</label>
                                        <input type="text" [(ngModel)]="Member.phoneNo" id="phoneNo." class="form-control" name="phoneNo."
                                            placeholder="enter your phoneNo.">
                                      
                                    </div>
                               
                                    <div class=" form-group text-left">
                                        <label for="address" class="form-label">Address :</label>
                                        <input type="text" [(ngModel)]="Member.address" class="form-control" id="address" name="address"
                                            placeholder="enter your address">
                                    </div>
                              
                                  
                                    <button type="submit" class="btn btn-outline-primary btn-sm">Save </button>
    
                                </form>
                            </div>
                        </div>
    
                    </div>
    
                </div>
                <div style="height: 100px;">
                </div>
            </div>
        </div>
    </div>